@font-face {
    font-family: "Cocogoose Pro Semilight-trial";
    src: url("/public/assets/font-family/Cocogoose\ Pro\ Semilight-trial.ttf") format("truetype");
}

@font-face {
    font-family: "Amiko-Regular";
    src: url("/public/assets/font-family/Amiko-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Amiko-Bold";
    src: url("/public/assets/font-family/Amiko-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Amiko-SemiBold";
    src: url("/public/assets/font-family/Amiko-SemiBold.ttf") format("truetype");
}