.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  }

  .dark .container {

    background-color: black;
    transition: 0.4s;
  }
  
  
  .image-container {
    width: 100%;
    height: 65%;
  }
  
  img {
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-container {
    display: flex;
    align-items: flex-start;
    width: 361px;
    height: 32px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--light-mode-button-pink, #AA0028);
    font-family: "COCOGOOSE";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.165px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  
  
  
  .subheader-container {
    width: 271px;
    height: 14px;
    flex-shrink: 0;
    color: #000;
    font-family: "Amiko";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.165px;
    align-items: flex-start;
    padding-left: 2px;
  }
  
  .paragraph-container {
    color: #000;
    font-family: Amiko;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.165px;
    padding-left: 20px;
    margin: 10px;
  /* Add this line to remove the indentation */
  }
  
  
  .button-container {
  
        margin-top: 10px;
        padding-left: 25px;
        padding-bottom: 20px; /* Add spacing between each container */
      }
      
      button {
        width: 127px;
        height: 28px;
        flex-shrink: 0;
        border-radius: 100px;
        background: var(--light-mode-button-pink, #AA0028);
        color: #fff; /* Set text color to white */
        border: none; /* Remove border */
        outline: none; /* Remove outline */
        cursor: pointer;
        font-family: Amico;
        font-size: 14px;
        font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.165px;
      }
      
      .dark .button {
        width: 127px;
        height: 28px;
        flex-shrink: 0;
        border-radius: 100px;
        background: var(--dark-mode-button-pink, #FF6C8F);
        color: black; /* Set text color to white */
        border: none; /* Remove border */
        outline: none; /* Remove outline */
        cursor: pointer;
        font-family: Amico;
        font-size: 14px;
        font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.165px;
      }
 