@import "./fonts.css";

body {
  margin: 0;
  font-family: "Cocogoose Pro Semilight";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App.dark {
  background-color: black;
  transition: 0.4s;
}

